﻿@model CoreAPI.Models.Pages
@{
    ViewData["Title"] = "404 Page";
    var Auth_Path = Model.settings.getApplicationSettings()["APP_AUTH_PATH"].ToString();
    var DocumentPath = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "documents";
    var FileUploader = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "FileUpload/MultiFileUpload";
    var WebPublish = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "WebPublish/check_publish";
    var WebPdf = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "WebPublish/check_pdf";
    var Login = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "auth/login";
    var Logout = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "auth/logout";
}


<div style="padding-top:50px;"></div>
<div style="padding:50px;">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            You are Logged in as <span style="font-size:large;color:forestgreen;">@User.Identity.Name</span>
        </div>
        <div class="row" style="padding-top:50px;">
            The page you are looking for is out dated or not avilable, please refer below link to proceed futher
            <ul>
                <li><a href="@DocumentPath">Documents</a></li>
                <li><a href="@FileUploader">File uploader</a></li>
                <li><a href="@WebPublish">Check publish</a></li>
                <li><a href="@WebPdf">Check pdf</a></li>
                <li><a href="@Logout">Logout</a></li>
            </ul>


        </div>
    }
    else
    {
        <div class="row" style="padding-top:50px;">
            The page you are looking for is out dated or not avilable, please refer below link to proceed futher
            <ul>
                <li><a href="@Login">Login</a></li>
            </ul>


        </div>
    }
</div>