﻿@model CoreAPI.Models.Pages
@{
    ViewData["Title"] = "Home Page";
    var Auth_Path = Model.settings.getApplicationSettings()["APP_AUTH_PATH"].ToString();
    var DocumentPath = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "documents";
    var FileUploader = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "FileUpload/MultiFileUpload";
    var WebPublish = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "WebPublish/check_publish";
    var WebPdf = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "WebPublish/check_pdf";
    var Login = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "auth/login";
    var Logout = Model.settings.getApplicationSettings()["BASE_PATH"].ToString() + "auth/logout";
}

<div style="padding-top:50px;"></div>
<div style="padding:50px;">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row">
            You are Logged in as <span style="font-size:large;color:forestgreen;">@User.Identity.Name</span>
        </div>
        <div class="row" style="padding-top:50px;">
            <ul>
                <li><a href="@DocumentPath">Documents</a></li>
                <li><a href="@FileUploader">File uploader</a></li>
                <li><a href="@WebPublish">Check publish</a></li>
                <li><a href="@WebPdf">Check pdf</a></li>
                <li><a href="@Logout">Logout</a></li>
            </ul>


        </div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div>
                    @if (Context.Request.Query["error"] == new String("1"))
                    {
                        <b style="color:#f00;">Invalid username or password</b>
                    }
                    @using (Html.BeginForm("LoginUser", "Home", FormMethod.Post, new { action = Auth_Path, role = "form" }))
                    {
                        <div>
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="redirect" id="redirect" value="@DocumentPath" />
                            <div>
                                <label>Username :</label><br />
                            </div>
                            <div>
                                @Html.TextBoxFor(m => m.user.username, new { @name = "username", @class = "form-control txtbox" })
                            </div>
                            <div style="padding-top:20px;"></div>
                            <div>
                                <label>Password :</label><br />
                            </div>
                            <div>
                                @Html.PasswordFor(m => m.user.password, new { @name = "password", @class = "form-control txtbox" })
                            </div>
                        </div>
                        <div style="text-align:center;margin: 0px auto;">
                            <div style="padding-top:20px;">
                                <input class="btn btn-primary btn-lg rph-login-button" type="submit" value="Login" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">

            </div>
        </div>
    }
</div>